@using TravelTripPrjoje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body> 
    

    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Plan the Easy Trip</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Tükkanlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>RTcY SoftWare</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araç Lazımdır Abey</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px;height:365px;">
                            <ul class="rslides" id="slider1">
                                @foreach(var x in Model) {
                                <li><img src="@x.BlogImage" alt=""></li>
                                @*<li><img src="~/web/images/img2.jpg" alt=""></li>
                                <li><img src="~/web/images/img3.jpg" alt=""></li>
                                <li><img src="~/web/images/img4.jpg" alt=""></li>*@
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>RTcY SoftWare Seyahat Bloğuna HoşGeldiniz!</h3>
                    <p>RTcY SoftWare şirketine ait olan bu blog tamamen kendileri tarafında kodlanmıştır.RTcY SoftWare Rıza Turancan YILMAZ tarafından kurulmuş, bir yazılım ve bilişim şirketidir. Modernleşen dünyaya ayak uyduran, yenilikçi, genç, dinamik, üretken fikirli, ekibiyle dünyanın önde gelen bilişim ve yazılım şirketlerinden birisidir.</p>
                </div>
                @Html.Action("Partial1","Deneme") <!-- partial view methodu bir html sayfasında birden fazla model kullanma veya veri tabanından veri çekme durumunda kullanılan teknik. -->
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3","Deneme")
                        @Html.Action("Partial4","Deneme")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>


