
<div class="content-form">
    <h3>Bir Yorum Yapın</h3>
    <form method="post">

        <input type="text" placeholder="ID" name="Blogid" value="@ViewBag.deger" required />
        <input type="text" placeholder="Kullanıcı Adı" name="Kullanici_Adi" required />
        <input type="text" placeholder="Email" name="Mail" required />
        <textarea placeholder="Yorum" name="Yorum" required></textarea>
        <input type="submit" value="GÖNDER" />
    </form>
</div>